[Desktop Entry]
Name=WSoundServer
Comment=WindowMaker Sound Server
Comment[fr]=Serveur de sons Window Maker
Comment[pl]=Serwer Dźwięku dla WindowMakera
Icon=wsoundserver.xpm
Exec=wsoundserver
Terminal=0
Type=Application
Encoding=UTF-8
# vi: encoding=utf-8
